.mentions-input .highlighter-content strong {
  background-color: #e51c23;
}
[data-mention] {
  background-color: #e51c23;
}
textarea {
  font-weight: 200;
  font-size: large;
}
body {
  background-color: #2F3CA2;
  color: #ffffff;
  font-family: 'Questrial', sans-serif;
  font-size: large;
  padding: 0px;
  margin: 0px;
}
a {
  color: #FFEE00;
}
a:hover {
  color: #e51c23;
}
a:active {
  color: #e51c23;
}
.hoverwell:hover {
  background-color: #52575c;
  cursor: pointer;
}
select,
textarea {
  color: #52575c;
}
.well-title {
  margin-top: 0px;
}
.session {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.votingWidget {
  height: 64px;
  padding: 7px;
}
.votingButton {
  padding-left: 6px;
  cursor: pointer;
}
.special {
  color: #FFEE00 !important;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none;
}
header {
  text-align: center;
  width: 100%;
  height: 100px;
  color: #FFEE00;
  top: 0px;
  position: fixed;
  box-shadow: 0px 1px 50px #333333;
  background-color: #FF5608;
}
.tweet-handle {
  text-align: center;
  overflow: hidden;
}
.timeline {
  width: 33%;
  float: left;
  display: inline;
  padding-top: 100px;
  overflow-y: scroll;
}
.tweet {
  margin: 20px;
  overflow: hidden;
  border-bottom: 1px solid;
  padding-bottom: 10px;
}
.retweets {
  font-size: small;
  float: left;
  padding: 10px;
  float: right;
  color: #FF5608;
}
.date {
  font-size: small;
  float: right;
  clear: both;
  color: #01EBB6;
  padding-bottom: 10px;
}
.favorites {
  font-size: small;
  float: right;
  padding: 10px;
  color: #FF5608;
}
.tweet-text {
  width: 100%;
  clear: both;
}
.tweet-link {
  float: right;
  clear: both;
}
