.tweet-handle {
  text-align: center;
  overflow: hidden;
}

.timeline {
  width: 33%;
  float: left;
  display: inline;
  padding-top: @header_height + 5;
}

.tweet {
  margin: @medium_padding;
  overflow: hidden;
  border-bottom: 1px solid;
  padding-bottom: @small_padding;
}

.retweets { .small_text(); }

.favorites { .small_text(); }

.date {
  font-size: @small_text_size;
  float: right;
  clear: both;
  color: @date_color;
  padding-bottom: @small_padding;
}

.tweet-text {
  width: 100%;
  clear: both;
}

.tweet-link {
  float:right;
  clear:both;
}