.tweet-handle {
  text-align: center;
  overflow: hidden;
  background-color: darken(@background_color, 10%);
  padding: 0;
  img {
    border: 1px solid;
    margin-top: 15px;
  }
  @media (min-width: @maxScreenWidth) {
    position: fixed;
    width: 33.33333333%;
    z-index: 99999;
    margin-top: -@handle_header_height;
    height: @handle_header_height;
    img {
      float: left;
      margin-left: 10px;
    }
    h3 {
      float: left;
      padding-top: 15px;
      padding-left: 10px;
      font-size: medium;
    }
  }
}

.timeline {
  width: 33.33333333%;
  float: left;
  display: inline;
  @media (max-width: @maxScreenWidth) {
    width: 100%;
    float: left;
    display: block;
  }
}

.tweet {
  margin: @medium_padding;
  overflow: hidden;
  border-bottom: 1px solid;
  padding-bottom: @small_padding;
}


.date {
  font-size: @small_text_size;
  float: right;
  clear: both;
  color: @date_color;
  padding-bottom: @small_padding;
}

.tweet-text {
  width: 100%;
  clear: both;
}

.tweet-link {
  float:right;
  padding: @small_padding;
}

.retweets { .small_text(); }

.favorites { .small_text(); }

.tweetPhoto {
  width: 100%;
  text-align: center;
  clear: both;
}

.tweetPhoto img {
  border: 1px solid;
  margin-top: 10px;
}